body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.hover-feld:link {
    text-decoration: none;
}

.hover-feld:visited {
    text-decoration: none;
}

.hover-feld:active {
    text-decoration: none;
}

.hover-feld {

    font-size: 20px;
    text-decoration: none;
    color: white;
}

.nav-li {
    float: left;
    padding: 5%;
    text-align: center;
    background-color: rgb(31,182,115);
    width: auto;
    height: 50px;
}
.hover-feld:hover {
    color:white;
}
    .nav-li:hover {
        background-color: rgb(31,170,115);
    }

